*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	//margin-top: 20px;
}

.sidebar{
	float: left;
	width: 20%;
	padding: 30px 0 0 60px;
}

.iconGroup{
	display: none;
}

.sidebarIcon{
	display: inline;
}

.icon{
	width: 35px;
	height: 5px;
	background-color: red;
	margin: 6px 0;
}

.sidebar h1{
	text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.sidebarMenu{
	margin-top: 80px;
}

.sidebarMenu li{
	list-style-type: none;
}

.sidebarMenu a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px 0;
	margin: 25px 0;
	font-family: Arial, sans-serif;
	color: grey;
}

.sidebar button{
	background-color: rgb(255,50,0);
	color: white;
	border-radius: 30px;
	padding: 15px 0px;
	margin-top: 40px;
	border: none;
	width: 130px;
	cursor: pointer;
}

.maincontent{
	float: right;
	width: 80%;
	margin-top: 70px;
}

.statements{
	height: 300px;
}

.heading{
	float: left;
	width: 70%;
	padding: 40px 80px 0 20px;
}

.heading h1{
	font-size: 75px;
	font-weight: 2000;
	text-shadow: 0px 1px, 1px 0px, 1px 1px;
	line-height: 100px;
}

.description{
	width: 24%;
	padding: 50px 60px 0 10px;
	position: absolute;
	top: 70px;
	right: 0;
  	font-family: Arial, sans-serif;
  	color: grey;
}

.hrline{
	height: 4px;
	width: 80px;
	margin-top: 35px;
	background-color: red;
}

.cardContainer{
	display: flex;
	width: 100%;
}

.card{
	width: 18%;
	height: 200px;
	margin: 15px;
	padding-top: 20px;
	border-radius: 20px;
	box-shadow: 10px 15px 30px rgb(180,180,180);
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 0.3s;
	cursor: pointer;
}

.cardImage{
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.card p{
	margin-top: 20px;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}

.card:hover{
	transform: scale(1.06);
}


@media only screen and (max-width: 1000px){


	.container{
		padding: 0;
		margin:0;
	}

	.sidebar{
		float: none;
		position: sticky;
		top: 0;
		background-color: white;
		z-index: 1;
		width: 100%;
		height: 80px;
		padding: 30px;
		text-align: center;
		border-bottom: 3px solid rgb(255,100,0);
	}

	.iconGroup{
		display: block;
		position: absolute;
		top: 20px;
	}

	.common{
		display: none;
		position: relative;
		left: -30px;
		background-color: green;
		width: 200px;
		top: -58px;
	}

	.common a{

	}


	.sidebar h1{
		font-size: 25px;
	}

	.sidebarMenu{
		//margin-top: 80px;
	}

	.sidebarMenu li{
		list-style-type: none;
	}

	.sidebarMenu a{
		text-decoration: none;
		color: black;
		display: block;
		padding: 5px 0;
		margin: 25px 0;
	}

	.sidebar button{
		background-color: rgb(255,50,0);
		color: white;
		border-radius: 30px;
		padding: 15px 0px;
		margin-top: 70px;
		border: none;
		width: 130px;
		cursor: pointer;
	}

	.maincontent{
		float: none;
		width: 100%;
		margin-top: 20px;
	}

	.statements{
		//height: 300px;
	}

	.heading{
		float: none;
		width: 100%;
		padding: 20px;
	}

	.heading h1{
		font-size: 30px;
		line-height: 50px;
	}
	
	.description{
		width: 100%;
		padding: 0 20px 30px 15px;
		position: relative;
		top: 30px;
		right: auto;
	}
	

	.hrline{
		height: 4px;
		width: 80px;
		margin-top: 5px;
		background-color: red;
	}

	.cardContainer{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}

	.card{
		width: 25%;
		height: 200px;
		margin: 15px 15px;
		padding-top: 20px;
		border-radius: 20px;
		box-shadow: 1px 1px 15px;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.cardImage{
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}

	.card p{
		margin-top: 20px;
		font-family: arial;
		font-size: 15px;
		font-weight: bold;
	}

}

@media only screen and (max-width: 576px){
	.card{
		width: 40%;
	}
}

@media only screen and (max-width: 350px){
	.card{
		width: 70%;
	}
}
